{% extends 'base.html' %}

{% block body %}
<form action="/update/{{post.id}}" method="POST" class="m-5">
    <div class="mb-3 pb-3">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{ post.title }}">
    </div>
    <div class="mb-3 pb-3">
        <label for="Detail">Detail</label>
        <input type="text" class="form-control" name="Detail" value="{{ post.detail }}">
    </div>
    <div class="mb-3 pb-3">
        <label for="due">Due</label>
        <input type="date" name="due" value="{{ post.due.date() }}" required>
    </div>
    <a href="/" role="button" class="btn btn-outline-primary">Return</a>
    <button type="submit" class="btn btn-primary">Change</button>
</form>
{% endblock %}